<div id="fh5co-counter" class="fh5co-bg fh5co-counter animated"
  style="background-image:url(https://demos.freehtml5.co/wedding/premium/images/img_bg_5.jpg)">
  <div class="container">
    <div class="row">
      <div class="display-t">
        <div class="display-tc">
          <div class="">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-users"></i>
              </span>
              <span class="counter">{{500|counTo|async}}</span> <span class="counter-label">
                Estimated Guest
              </span>
            </div>
          </div>
          <div class="">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-users"></i>
              </span>
              <span class="counter">{{1000|counTo|async}}</span> <span class="counter-label">We Catter</span>
            </div>
          </div>
          <div class="">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-users"></i>
              </span>
              <span class="counter">{{402|counTo|async}}</span> <span class="counter-label">Events Done</span>
            </div>
          </div>
          <div class="">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-users"></i>
              </span>
              <span class="counter">{{2345|counTo|async}}</span> <span class="counter-label">Hours Spent</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>

</div>