<ion-list>
<ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">
  <ng-container *ngFor="let bloc of page.blocs">
    <ion-item>
      <ng-container [ngSwitch]="bloc.type">
        <app-text-wc class="app-comp" *ngSwitchCase="'text'" [bloc]="bloc"></app-text-wc>
        <app-image-wc class="app-comp" *ngSwitchCase="'image'" [bloc]="bloc"></app-image-wc>
        <app-timeline-wc class="app-comp" *ngSwitchCase="'timeline'" [bloc]="bloc"></app-timeline-wc>


      </ng-container>

      <!-- <ion-button (click)="addBloc('image')">AddBloc</ion-button> -->
      <ion-reorder slot="start"></ion-reorder>
    </ion-item>
  </ng-container>
</ion-reorder-group>
</ion-list>